<div class="row w-75 m-auto">
  <div class="col-12 bg-danger">
    <app-header></app-header>
  </div>
  <div class="col-8 bg-success">
    <app-content></app-content>
  </div>
  <div class="col-4 bg-primary">
    <app-slidebar></app-slidebar>
  </div>
  <div class="col-12 bg-dark">
    <app-footer></app-footer>
  </div>

  <!-- <div class="loader"></div> -->

  <!-- loader ring -->
  <div class="lds-ring">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <br />
  <br />
  <!-- loader spinner -->
  <div class="lds-spinner">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <br />
  <!-- loader roller -->
  <div class="lds-roller">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <br />
  <!-- loader like facebook -->
  <div class="lds-facebook">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <br />
  <!-- loader dual ring -->
  <div class="lds-dual-ring"></div>
  <br />
  <!-- loader ellipsis -->
  <div class="lds-ellipsis">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <br />
  <!-- loader default -->
  <div class="lds-default">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <br />

  <!-- loader ripple -->
  <div class="lds-ripple">
    <div></div>
    <div></div>
  </div>
  <br />
  <!-- loading heart -->
  <div class="lds-heart">
    <div></div>
  </div>
</div>
